<a href="https://colab.research.google.com/github/julhamarcolan/monitorias_python/blob/main/Exemplos1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Inteiros (int)**

In [ ]:
x = 10
y = -5

print(x)
print(y)

10
-5

**Números de ponto flutuante (float)**

In [ ]:
pi = 3.14159
temperatura = -15.5

print(pi)
print(temperatura)

3.14159
-15.5

**Números complexos (complex)**

In [ ]:
z = 3 + 4j

print(z)

(3+4j)

**Strings (str)**

In [ ]:
nome = "Julha"
saudacao = 'Olá, mundo!'

print(nome)
print(saudacao)

Julha
Olá, mundo!

**Booleanos (bool)**

In [ ]:
ativo = True
logado = False

print(ativo)
print(logado)

True
False

In [ ]:
condicao = True

if condicao:
    print("True")
else:
    print("False")

True

**Listas (list)**

[Como manipular listas em Python!](https://)

In [ ]:
frutas = ["maçã", "banana", "laranja"]
numeros = [1, 2, 3, 4]

print(frutas)
print(frutas[0])

print(numeros)
print(numeros[2])

['maçã', 'banana', 'laranja']
maçã
[1, 2, 3, 4]
3

**Tuplas (tuple)**

In [ ]:
coordenadas = (10.5, 20.7)
cores = ("vermelho", "verde", "azul")

print(coordenadas)
print(cores)

(10.5, 20.7)
('vermelho', 'verde', 'azul')

**Dicionários (dict)**

In [ ]:
aluno = {"nome": "Carlos", "idade": 22, "curso": "Engenharia"}

nome = aluno["nome"]
print(nome)  # Saída: Carlos

idade = aluno.get("idade")
print(idade)  # Saída: 22

chaves = aluno.keys()
print(chaves)  # Saída: dict_keys(['nome', 'idade', 'curso'])

valores = aluno.values()
print(valores)  # Saída: dict_values(['Carlos', 22, 'Engenharia'])

itens = aluno.items()
print(itens)  # Saída: dict_items([('nome', 'Carlos'), ('idade', 22), ('curso', 'Engenharia')])

Carlos
22
dict_keys(['nome', 'idade', 'curso'])
dict_values(['Carlos', 22, 'Engenharia'])
dict_items([('nome', 'Carlos'), ('idade', 22), ('curso', 'Engenharia')])

**Conjuntos (set)**

In [ ]:
numeros = {1, 2, 3, 4, 4, 5}  # O número 4 será armazenado apenas uma vez
print(numeros)

{1, 2, 3, 4, 5}