**Project euler 1: **

If we list all the natural numbers below  10 that are multiples of 3 or 5, we get 3, 5,6 and 9.
The sum of these multiples is 23. Find the sum of all the multiples of 3 or 5 below 1000.

In [ ]:
def sum_3_or_5(N):
    """
    Calculates the sum of all numbers less than N that are divisible by 3 or 5.

    Parameters:
        N (int): The upper limit of the range (exclusive).

    Returns:
        int: The sum of all numbers less than N that are divisible by 3 or 5.
    """
    sum = 0
    for i in range(N):  # Iterate from 0 to N-1 (exclusive)
        if i % 3 == 0 or i % 5 == 0:  # If the number is divisible by 3 or 5
            sum += i  # Add the number to sum
    return sum  # Return the final sum

In [ ]:
# Examples of use:
print(sum_3_or_5(10))  # Output: 23
print(sum_3_or_5(1000))  # Output: 45

23
233168